html{
    background-color: #333;
    -webkit-tap-highlight-color: #aaa;
}
body{
    background-color: #333;
    color: #fff;
}


#recording-settings-well{
    padding-bottom:30px;
}


.panel{
    background-color: #222;
    border-width: 0px;
}
.panel > .panel-heading{
    background-color: #222;
}
.btn {
    background-color: #555;
    color: #fff;
}
.btn:hover{
    background-color: #333;
    color: #ddd;
}
.btn.active,.btn:active{
    background-color: #333;
    color: #ddd;
}
.btn:focus{
    background-color: #333;
    color: #ddd;
}
.pid-well{
    border-width: 0px;
    background-color: #333;
    max-height: 500px; 
    overflow:auto
}
.margin-sm{
    margin:20px;
}
.margin-LR-sm {
    margin-left: 20px;
    margin-right: 20px;
}
.margin-TB-sm {
    margin-top: 20px;
    margin-bottom: 20px;
}
.margin-xsm{
    margin:10px;
}
.margin-LR-xsm {
    margin-left: 10px;
    margin-right: 10px;
}
.margin-TB-xsm {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-bottom-sm{
    margin-bottom: 20px;
}

.show{
    display: inline;
}
.no-show{
    display: none;
}

.page-title{
    text-align: center;
}
.center {
    text-align: center;
}
.slider-label {
    float: left;
    margin-right: 20px;
}

.option-block {
    overflow: hidden;
}

.text-input{
    color: #222;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {display:none;}
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }